# Generic files
*.pdb
*.cif
*.pse
*.fasta
*.txt
*.png
*.xcf
*.html
*.pdf

#Demo files
!pymol/1a91.pdb

#Essential files
!pymol/pdb-list.txt

#Some PNG files are used in the readme
!demo.png

# Copyright issues.

## Phobius is under GNU license.
#pymol/decodeanhmm
#pymol/phobius.model
#pymol/phobius.options
#pymol/phobius.pl
#pymol/README
pymol/save_colored_fasta.py

# TMSOC useful files
TMsegments.txt
TMSOCoutput.txt
sequence.fasta

# Log files
TMsegments.txt
sequence.fasta
temp.fasta
tmsoc_output.txt
phobius_output.txt

# Useless files and folders on James' PC
pymol/pics_images/
