#Generic files
*.pdb
*.fasta
*.txt

#Copyright issues
pymol/decodeanhmm
pymol/phobius.model
pymol/phobius.options
pymol/phobius.pl
database/tmh_list.txt
pymol/README

#TMSOC useful files
TMsegments.txt
TMSOCoutput.txt
sequence.fasta

#Log files
TMsegments.txt
sequence.fasta
temp.fasta
tmsoc_output.txt
phobius_output.txt
