#Generic files
*.pdb
*.cif
*.pse
*.fasta
*.txt
*.png
!demo.png
*.xcf

#Copyright issues
pymol/decodeanhmm
pymol/phobius.model
pymol/phobius.options
pymol/phobius.pl
pymol/README
database/decodeanhmm
database/phobius.model
database/phobius.options
database/phobius.pl
database/tmh_list.txt
database/README

#TMSOC useful files
TMsegments.txt
TMSOCoutput.txt
sequence.fasta

#Log files
TMsegments.txt
sequence.fasta
temp.fasta
tmsoc_output.txt
phobius_output.txt
